.banner-wrapper {
    position: relative;

    .banner {
        height: 80vh;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    h1 {
        position: absolute;
        z-index: 1;
        color: #fff;
        word-spacing: 5px;
        margin-left: 5%;
        top: 100px;

        strong {
            font-size: 1.2em;
        }
    }

    h3 {
        position: absolute;
        z-index: 1;
        color: #fff;
        top: 300px;
        margin-left: 5%;
    }
}
